{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Item title goes in these h1 tags -->
                <h1 class="item-title">{{ item.item_name }}</h1>
                <p class="item-title">{{ item.description | safe }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{{ item.featured_image.url }}" class="scale" alt="{{ item.item_name }}">
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}